@media screen and (min-device-width: 481px){
    #guarantee {
        margin-right: 250px;
    }
}

@media screen and (max-device-width: 480px){
    #guarantee {
        margin-right: 30px;
    }
}

p.specials {
    color: red;
}